<div class="tab-pane active" id="home" role="tabpanel">
    <div class="card-body">

        <h3 class="text-themecolor">{{infoservice.informacion.titlep}}</h3>

        <h5 class="m-t-20 m-b-20 font-bold text-justify">
            {{infoservice.informacion.pePel}}
        </h5>
        <p class="m-t-10 text-justify font-normal">
            {{infoservice.informacion.pePe2}}
        </p>
        <p class="m-t-10 text-justify font-normal">
            {{infoservice.informacion.pePe3}}
        </p>
        <p class="m-t-10 text-justify font-normal">
            {{infoservice.informacion.pePe4}}
        </p>

        <h3 class="m-t-20 text-themecolor">
            {{infoservice.informacion.titleo}}
        </h3>

        <p class="m-t-20 font-normal">{{infoservice.informacion.obPe}}</p>

        <h3 class="m-t-20 m-b-20 text-themecolor">
            {{infoservice.informacion.title}}
        </h3>
        <div class="profiletimeline">
            <div class="sl-item">
                <div class="sl-left">
                    <img src="{{infoservice.informacion.imgunsis}}" alt="user" class="img-circle">
                </div>
                <div class="sl-right">
                    <div>
                        <a [href]="infoservice.informacion.unisisURL" class="link" target="_blank">
                            <p class="font-weight-bold">{{infoservice.informacion.nameescuela}}</p>
                        </a>
                        <ul class="font-normal">
                            <li>{{infoservice.informacion.titulo}}</li>
                            <li>{{infoservice.informacion.escuela}}</li>
                            <li>{{infoservice.informacion.fecha}}</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <h3 class="m-t-20 m-b-20 text-themecolor">
            {{infoservice.informacion.titlei}}
        </h3>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6  text-center m-b-30">
                <div data-label="30%" class="css-bar css-bar-30 css-bar-lg css-bar-danger">
                    <img src="ivancv/assets/images/estados-unidos-de-america.png" alt="User">
                </div>
                <div class="col-lg-12 col-md-12 font-normal">
                    Ingles 30%
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 text-center m-b-30">
                <div data-label="100%" class="css-bar css-bar-100 css-bar-lg css-bar-danger">
                    <img src="ivancv/assets/images/mexico.png" alt="User">
                </div>
                <div class="col-lg-12 col-md-12 font-normal">
                    Español 100% nativo
                </div>
            </div>
        </div>
    </div>
</div>