<div class="tab-pane" id="settings" role="tabpanel">
    <div class="card-body">
        <div class="row m-t-30">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b-20 text-center">
                <img src="ivan/assets/images/futbol.png" class="img-responsive " style="width:50%">
                <div class="col-12 m-t-10">
                    <p class="font-normal ">Fútbol</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b-20 text-center">
                <img src="ivan/assets/images/aeroplano.png" class="img-responsive " style="width:50%">
                <div class="col-12 m-t-10">
                    <p class="font-normal ">Viajar</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b-20 text-center">
                <img src="ivan/assets/images/castillo.png" class="img-responsive " style="width:50%">
                <div class="col-12 m-t-10">
                    <p class="font-normal ">Games of Thrones</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 m-b-20 text-center">
                <img src="ivan/assets/images/pacman.png" class="img-responsive " style="width:50%">
                <div class="col-12 m-t-10">
                    <p class="font-normal ">Videojuegos</p>
                </div>
            </div>

        </div>
    </div>
</div>