<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">

    <div class="page-wrapper">

        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">

            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <!-- Row -->
            <div class="row">
                <!-- Column -->
                <div class="col-lg-4 col-xlg-3 col-md-5">
                    <div class="card bor">
                        <div class="card-body first">
                            <div class="face m-t-30">
                                <img src="ivan/assets/images/ivan.jpg" class="img-circle" width="150" />
                                <h4 class="card-title m-t-10 text-center">{{ infoservice.informacion.name}}</h4>
                                <h6 class="card-subtitle card-sub text-center">Desarrollador</h6>
                            </div>
                        </div>
                        <div>
                            <hr>
                        </div>
                        <div class="card-body">

                            <small class="text-muted">{{infoservice.informacion.emailtitle}}</small>
                            <h6>{{infoservice.informacion.email}}</h6>

                            <small class="text-muted p-t-20 db">{{infoservice.informacion.phonetitle}}</small>
                            <h6>{{infoservice.informacion.phone}}</h6>

                            <small class="text-muted p-t-20 db">{{infoservice.informacion.address}}</small>
                            <h6>{{infoservice.informacion.add}}</h6>

                            <small class="text-muted p-t-20 db" style="margin-bottom:10px">{{infoservice.informacion.social}}</small>
                            <button class="btn btn-circle btn-secondary">
                                <a [href]="infoservice.informacion.github" target="_blank">
                                    <i class="fa fa-github">
                                    
                                    </i>
                                </a>
                            </button>
                            <button class="btn btn-circle btn-secondary">
                                <a [href]="infoservice.informacion.twitter" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </button>
                            <button class="btn btn-circle btn-secondary">
                                <a [href]="infoservice.informacion.linkedin" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Column -->
                <!-- Column -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card bor">
                        <app-navbar></app-navbar>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
                <!-- Column -->
            </div>
            <!-- Row -->
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © Copyright 2018 - Iván
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

</div>